
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
.home{
    height:calc(100vh-75px);
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color:black;
    color: white;
    color:#ff3cac;
    margin-bottom: 3rem;
    
   
    
}

.home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    letter-spacing: 6px;
    
}





.above, .job{
    font-size: 2.5rem;
}

.big{
    font-size:3.5rem;
    font-weight: 900;
}