.contact {
 
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

}

.contactTitle {
    text-align: center;
    width: 100%;
    color:#ff3cac;
    margin-top: 10rem;
    margin-bottom:1rem;
}

.contactIMG {
  width: 20rem;
}
.infos {
    height: 28rem;
    border-radius: 5px;
    margin-right: 1rem;
    -webkit-box-shadow: -2px 2px 15px 5px rgba(0,0,0,0.18); 
    box-shadow: -2px 2px 15px 5px rgba(0,0,0,0.18);
    width: 40%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:white;
}
 .content {
  
   height: 10rem;
   display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

 }

 .before {
     color:#58D68D;
     font-weight: bold;
 }

 .icons {
   margin-top:3rem;
   width: 20%;
   display:flex;
   justify-content: space-between;
 }